#nome{
    margin-top: 20px;
    margin-left: 50px;
    color: rgb(114, 115, 117);

}
#sobrenome{
    margin-left: 20px;
    color: rgb(80, 77, 77);
}
/* #cargo{
    
    color: lightslategray;
    margin-left: 40px;  
    font-size: 12px;
} */
.margin{
    margin: 10px;
}
#icons{
    margin-left: 75px;
}
.col-md-3{
    background-color: #fac4be;
    font-size: 13px;
    margin-top: 30px;  
    
    
}

.menu{
    background-color:  rgb(80, 77, 77);
    color: white;
    height: 30px;
    width: 150px;
    margin-top: 10px;
    position: relative;
    bottom: 20px;

    
    
 
}

.linha{
    background-color: lightslategray;
    padding: 1px;
    width: 95%;
    margin-left: 50px;  
    
}
.rounded-circle{
    background-color: #fac4be;
  
}

#icons{
    background-color: rgb(114, 115, 117);
   width: 80px ;
  
   color:#fac4be ;
   
   margin-left: 70px;  
   
}
.sobremim{
    
    font-size: 13px;

}

.letragrande{
    font-size: 20px;
}




